<<<<<<< HEAD
.board {
  display: grid;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px 504px 100px;
  grid-template-rows: 100px 504px 100px;
  gap: 10px;
}
=======

>>>>>>> dd329c0cc121471a9e7d9e653afd0be11a618670
