.hand-of-cards {
  display: grid;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  gap: 0px;
  background-color: #e9bf85;
  border-radius: 30px;
  height: 640px;
  width: 200px;
}
