h1 {
    font-size: 3rem;
}

.top-center-text {
    font-size: 3rem;
    position: absolute;
    top: 0;
    padding-top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: black; /* Ajusta el color del texto según sea necesario */
}