.colorTyle {
  background-color: #7dd3b3 !important;
  border: 7px solid #7dd3b3 !important;
  display: flex !important;
  border: 10px solid;
  height: 70px;
  width: 70px;
  border-radius: 10%;
}
.colorTyle:disabled {
  background-color: black !important;
}

.rojo {
  background-color: #f17252 !important;
  border: 7px solid #e3634b !important;
}

.rojo:hover {
  background-color: #e3634b !important;
}

.rojo:active {
  transform: scale(0.95);
  background-color: #f97756 !important;
  border: 7px solid #f97756 !important;
}

.rojo:disabled {
  background-color: #ccc !important;
  border-color: #999 !important;
  pointer-events: none;
  opacity: 0.6;
  transform: none !important;
}

.rojo:disabled:hover,
.rojo:disabled:active {
  background-color: #ccc !important;
  border-color: #999 !important;
  transform: none !important;
}

.verde {
  background-color: #7eb65b !important;
  border: 7px solid #71ab51 !important;
}

.verde:hover {
  background-color: #71ab51 !important;
}

.verde:active {
  transform: scale(0.95);
  background-color: #87bf62 !important;
  border: 7px solid #87bf62 !important;
}

.verde:disabled {
  background-color: #ccc !important;
  border-color: #999 !important;
  pointer-events: none;
  opacity: 0.6;
  transform: none !important;
}

.verde:disabled:hover,
.verde:disabled:active {
  background-color: #ccc !important;
  border-color: #999 !important;
  transform: none !important;
}

.azul {
  background-color: #6ec5e1 !important;
  border: 7px solid #5cadcd !important;
}

.azul:hover {
  background-color: #5cadcd !important;
}

.azul:active {
  transform: scale(0.95);
  background-color: #72cfe6 !important;
  border: 7px solid #72cfe6 !important;
}

.azul:disabled {
  background-color: #ccc !important;
  border-color: #999 !important;
  pointer-events: none;
  opacity: 0.6;
  transform: none !important;
}

.azul:disabled:hover,
.azul:disabled:active {
  background-color: #ccc !important;
  border-color: #999 !important;
  transform: none !important;
}

.amarillo {
  background-color: #efd96c !important;
  border: 7px solid #e4ca64 !important;
}

.amarillo:hover {
  background-color: #e4ca64 !important;
}

.amarillo:active {
  transform: scale(0.95);
  background-color: #f7e271 !important;
  border: 7px solid #f7e271 !important;
}

.amarillo:disabled {
  background-color: #ccc !important;
  border-color: #999 !important;
  pointer-events: none;
  opacity: 0.6;
  transform: none !important;
}

.amarillo:disabled:hover,
.amarillo:disabled:active {
  background-color: #ccc !important;
  border-color: #999 !important;
  transform: none !important;
}
