.square {
    background: #95989d ;
    border: 1px solid #000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.boardColumn {
    display: flex;
    justify-content: space-evenly; /* Evenly space out tiles */
    width: 100%;                /* Control width of each column */
  }

.board p {
    justify-content: center !important;
    vertical-align: middle I !important;
}

.boardTyle {
    border-color:hsl(0, 0%, 0%) !important;
    height: 70px;
    width: 70px;
    border-radius: 10%;
}

.red {
    background-color: #f17252;
}

.grn {
    background-color: #7eb65b;
}

.blu {
    background-color: #6ec5e1;
}

.ylw {
    background-color: #efd96c;
}