#slotPartida{
    display: flex;
    background-color: chocolate;
    border: 1px solid #bbb;
    border-radius: 100px;
    padding: 6px 16px;
}

#nombrePartida{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

#capacidadPartida{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    text-align: right;
}

#botonUnirse{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 100px;
}