#slotPartida{
    display: flex;
    background-color: #f17252;
    border-radius: 100px;
    padding: 6px 16px;
    border: 3px solid ;
}

#nombrePartida{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

#capacidadPartida{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    text-align: right;
}

#botonUnirse{
    background-color: #7eb65b;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 100px;
}

#idPartida{
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
    text-align: left;
    border-radius: 10px;
    padding: 1px 5px;
    margin-top: auto;
}