#root {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al inicio (izquierda) */
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#gameColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  color: #305745;
  font-size: 4em;
}

.grid-container{
  display: grid;
  gap: 16px;
}

.grid-item1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}